#Quick and dirty .gitignore to get rid of binaries, overrides global .gitignore :(
*
!*/
!*.*
![Mm]akefile
*.o
*.exe
*~
_*
*.bak
*.rar

*.exe
*.EXE
*.dll
*.com
*.out
*.o
*.so
*.class

*.tar
*.gz
*.xz
*.bz
*.bz2
*.tgz
*.zip
*.rar

*.mp3
*.wav
*.mpeg
*.avi
*.ogg
*.ogv

