body {
	font-family: tahoma;
	text-align: center;
	}
	
div {
	text-align: left;
	_width: 800px;
	max-width: 800px;
	min-width: 600px;
	margin: 0 auto;
	}

a:hover {
	color: red;
	}

#head h1 {
	display: inline;
	}
	
#main {
	border: 2px solid black;
	padding: 15px;
	}
	
#menu {
	font-weight: bold;
	text-align: right;
	border-top: 2px solid black;
	padding: 5px;
	margin: 10px;
	}

#text {
	text-align: left;
	border-top: 2px solid black;
	padding: 10px;
	margin: 10px;
	}
	
#foot {
	text-align: right;
	font-size: 10;
	border-top: 2px solid black;
	padding: 5px;
	margin: 10px;
	}